/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import './roboto.css';

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-image: url('/img/background2.png');
    background-position: center;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    background:white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

nav.navbar {
    background-color: #128ced;
}

#main-page{
    background-color:white;
}

nav.navbar .container {
    color: #fff;
}

    nav.navbar .cart-container {
        border-left: 1px solid rgba(255,255,255,0.3);
        padding: 5px 0 5px 15px;
        margin-left: 15px;
    }

        nav.navbar .cart-container button.cart-btn {
            background-color: rgba(0,0,0,0.1);
            border: 0;
            color: #fff;
            border-radius: 3px;
            position: relative;
        }

            nav.navbar .cart-container button.cart-btn:hover {
                background-color: rgba(0,0,0,0.2);
            }

            nav.navbar .cart-container button.cart-btn .cart-counter {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
                font-size: 10px;
                line-height: 15px;
                background-color: red;
                border-radius: 50%;
                width: 15px;
                height: 15px;
            }

                nav.navbar .cart-container button.cart-btn .cart-counter:empty {
                    display: none;
                }


.product-wrapper .image-wrapper {
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.product-wrapper .product-title h2 {
    display: inline;
}

.product-wrapper .product-description{
    overflow-wrap: anywhere;
}

.price {
    color: #b32605;
    font-weight: bold;
}

.product-wrapper .price {
    color: #b32605;
    font-size: 24px;
    font-weight: 900;
}

.products-index-wrapper {
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

    .products-index-wrapper:hover {
        color: black;
        text-decoration: none;
        box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    }

    .products-index-wrapper .name {
        flex-grow: 1;
    }

    .products-index-wrapper .image-wrapper {
        height: 200px;
    }

        .products-index-wrapper .image-wrapper img {
            max-width: min(200px, 100%);
            max-height: 200px;
        }

    .products-index-wrapper .price {
    }

#cart {
    padding: 10px;
    width: 400px;
}

.cart-item {
    display: flex;
}

    .cart-item:not(:last-child) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .cart-item .cart-img-container {
        width: 50px;
        margin: 10px;
        flex-shrink: 0;
        text-align: center;
    }

    .cart-item img {
        max-width: 50px;
        max-height: 50px;
    }

    .cart-item button.remove-from-cart {
        background-color: transparent;
        border: 0;
        height: 25px;
        border-radius: 3px;
    }

        .cart-item button.remove-from-cart:hover {
            background-color: rgba(0,0,0,0.2);
        }

.cart-container .dropdown .dropdown-menu {
    display: block;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

    .cart-container .dropdown .dropdown-menu.show {
        max-height: 1000px;
        padding: .5rem 0;
        transition: max-height 1s ease;
        border: 1px solid rgba(0,0,0,.15);
    }

.login-container,
.register-container {
    background:white;
    box-shadow: rgba(0,0,0,0.1) 0 0 30px;
    padding: 30px;
    margin-top: 100px;
}


/* double thumbed slider
-------------------------------------------------- */
.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

    .range-slider input {
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 15px;
        width: 200px;
        outline: none;
        height: 18px;
        margin: 0;
        padding: 0;
    }

        .range-slider input::-webkit-slider-thumb {
            pointer-events: all;
            position: relative;
            z-index: 1;
            outline: 0;
        }

        .range-slider input::-moz-range-thumb {
            pointer-events: all;
            position: relative;
            z-index: 10;
            -moz-appearance: none;
            width: 9px;
        }

        .range-slider input::-moz-range-track {
            position: relative;
            z-index: -1;
            background-color: rgba(0, 0, 0, 1);
            border: 0;
        }

        .range-slider input:last-of-type::-moz-range-track {
            -moz-appearance: none;
            background: none transparent;
            border: 0;
        }

        .range-slider input[type=range]::-moz-focus-outer {
            border: 0;
        }

.rangeValue {
    width: 30px;
}

.output {
    position: absolute;
    border: 1px solid #999;
    width: 40px;
    height: 30px;
    text-align: center;
    color: #999;
    border-radius: 4px;
    display: inline-block;
    font: bold 15px/30px Helvetica, Arial;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}

    .output.outputTwo {
        left: 100%;
    }


input[type=range] {
    -webkit-appearance: none;
    background: none;
}

    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
        border: none;
        border-radius: 3px;
        background: transparent;
    }

    input[type=range]::-ms-track {
        height: 5px;
        background: transparent;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-track {
        height: 5px;
        background: transparent;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #555;
        margin-top: -5px;
        position: relative;
        z-index: 10000;
    }

    input[type=range]::-ms-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #555;
        margin-top: -5px;
        position: relative;
        z-index: 10000;
    }

    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #555;
        margin-top: -5px;
        position: relative;
        z-index: 10000;
    }

    input[type=range]:focus {
        outline: none;
    }

.full-range,
.incl-range {
    width: 100%;
    height: 5px;
    left: 0;
    top: 21px;
    position: absolute;
    background: #DDD;
}

.incl-range {
    background: #1861ac;
}


/*weather
-------------------------------------------------- */
.forecast {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 14px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 7px;
    line-height: 1px;
    background: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

.forecast .day {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    font-size: 0.9em;
    justify-items: center;
    grid-gap: 1px;
}

    /*most forecast elements take up two columns*/
    .forecast .day * {
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*maximum and minimum temprature elements are arrange side by side*/
    .forecast .day .maxt {
        grid-column: 1;
        font-weight: bold;
    }

    .forecast .day .mint {
        grid-column: 2;
        font-size: 0.9em;
        color: darkgrey;
    }

.forecast .location {
    font-size: 1em;
    font-weight: bold;
    flex: 0;
}

.forecast .footer {
    font-size: 0.7em;
    color: darkgrey;
    display: flex;
    justify-content: flex-end;
}

.forecast .day .date {
    color: darkgrey;
    font-size: 0.9em;
    white-space: nowrap;
}


.forecast .day:not(:last-child) {
    border-right: 1px solid darkgray;
}


.forecast .day .conditions {
    display: none;
    color: darkgrey;
    font-size: 0.9em;
}


.forecast .day .hidden {
    visibility: hidden;
}


.forecast .icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.forecast .icon.snow-day {
    background: url(/lib/bootstrap/bootstrap-icons-1.6.0/snow.svg)
}

    .forecast .icon.rain-day {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/cloud-rain.svg);
    }
    
    .forecast .icon.rain-night {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/cloud-rain.svg);
    }

    .forecast .icon.fog-day {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/cloud-fog.svg);
    }

    .forecast .icon.fog-night {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/cloud-fog-fill.svg);
    }

    .forecast .icon.wind-day {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/wind.svg);
    }

    .forecast .icon.wind-night {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/wind.svg);
    }

    .forecast .icon.cloudy-day {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/clouds.svg);
    }
    
    .forecast .icon.cloudy-night {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/clouds-fill.svg);
    }

    .forecast .icon.pcloudy-day {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/cloud-sun.svg);
    }

    .forecast .icon.pcloudy-night {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/cloud-moon.svg);
    }

    .forecast .icon.clear-day {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/sun.svg);
    }

    .forecast .icon.clear-night {
        background-image: url(/lib/bootstrap/bootstrap-icons-1.6.0/moon.svg);
    }