@model pet_store.Models.User

@{
    ViewData["Title"] = "Create";
}


<style>
    #main-page {
        background-color: transparent;
        box-shadow: unset;
    }
</style>

<div class="row justify-content-center">
    <div class="col-8 col-sm-8 col-md-6 col-lg-4 register-container">
        <h1 class="text-center">Register</h1>
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" required />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary w-100" />
            </div>
            @if (!String.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="text-danger">@ViewBag.Error</div>
            }
        </form>
        <hr />
        <div>
            Already registered? <a asp-action="Login">Click here</a> to Login.
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
