@model IEnumerable<pet_store.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var item in Model)
    {
    <div class="col mb-2">
        <a class="products-index-wrapper" asp-action="Details" asp-route-id="@item.Id">
            <div class="text-center image-wrapper">
                <img src="@item.Image" />
            </div>
            <b class="name text-center">@Html.DisplayFor(modelItem => item.Name)</b>
        </a>
    </div>
    }
</div>

