@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css">


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="NgBmCc7a"></script>

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome to our pet store!</h1>
    <br />
    <br />

</div>
<div style="display: flex;justify-content: space-around;">
    <div class="video" style="text-align:center">

        <button class="btn btn-sm btn-primary video-class" onclick="playPause()">Play/Pause</button>
        <button class="btn btn-sm btn-primary video-class" onclick="makeBig()">Big</button>
        <button class="btn btn-sm btn-primary video-class" onclick="makeSmall()">Small</button>
        <button class="btn btn-sm btn-primary video-class" onclick="makeNormal()">Normal</button>
        <br><br>
        <video id="video" width="420">
            <source src="~/img/PetStoreVideo.mp4" type="video/mp4">
            @*<source src="mov_bbb.ogg" type="video/ogg">*@
            Your browser does not support HTML video.
        </video>
    </div>

    <div style="width: 340px" class="fb-page" data-href="https://www.facebook.com/PetStore.Direct/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/PetStore.Direct/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PetStore.Direct/">PetStore.Direct</a></blockquote></div>

</div>

<script src="~/js/VideoControlls.js"></script>
